<nz-card nzTitle={{category}} [nzActions]="[actionRandom, actionRollback, actionLock]">

  <app-select-field-with-search [options]="options">
  </app-select-field-with-search>
  <ng-template #actionRandom>
    <i nz-icon nzType="question"></i>
  </ng-template>
  <ng-template #actionRollback>
    <i nz-icon nzType="rollback"></i>
  </ng-template>
  <ng-template #actionLock>
    <i nz-icon nzType="lock"></i>
  </ng-template>
</nz-card>