
    <div class="layout">
      <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="6" [nzOffset]="3" class="col-1">
          <app-card category="{{categories[0]}}" [options]="cuisines"></app-card>
        </div>

        <div nz-col [nzSpan]="6" class="col-2">
          <app-card category="{{categories[1]}}" [options]="ingredients"></app-card>
          <app-generate-button class="generate-button"></app-generate-button>
        </div>

        <div nz-col [nzSpan]="6" class="col-3">
          <app-card category="{{categories[2]}}" [options]="themes"></app-card>

        </div>

      </div>
    </div>
  