
      p {
        margin: 0;
      }
      
      .layout {
        padding: 30px;
      }
      .col-1 {
        text-align: center;
      }

      .col-2 {
        text-align: center;
      }

      .col-3 {
        text-align: center;
      }

      .generate-button {
        padding-top: 30px;
        display: inline-block;
      }